/* Header Component */
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 4%;
  padding: 1% 15%;
  box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.1);
}
.right-nav {
  display: flex;
}
.logo {
  cursor: pointer; 
  transition: transform 0.5s;
}
.logo:hover {
  transform: scale(1.1);
}
.icon {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.icon > svg {
  width: 15px;
  height: 12px;
}
.icon > span {
  margin: 5px;
  font-size: 16px;
}
