@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:ital,wght@0,200;0,500;1,200;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
}

