@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --white: #efece6;
    --orange: #feb33a;
    --black: #080000;
    --red: #e72452;
  }
}

/* :root {
  --white: #efece6;
  --orange: #feb33a;
  --black: #080000;
  --red: #e72452;
} */


@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:ital,wght@0,200;0,500;1,200;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E72452;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#E72452;
}